<div class="container">
    <div class="row">
        <div class="container col-md-6 col-md-offset-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Log in</h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" #loginForm="ngForm" (ngSubmit)="login();">
                        <div *ngIf="loginForm.submitted && error!=''" class="help-block">{{error}}</div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">E-mail</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" [(ngModel)]="model.email" name="email" placeholder="E-mail" #email="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">Password</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password" placeholder="Password" #password="ngModel" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button class="btn btn-primary" id="btn-login">Login</button>
                            </div>
                        </div>
                        <div>
                            <a class="regnow" [routerLink]="['/register']">Don't have an account? Register now. :)</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>