<div class="container">
    <div class="col-md-4">
        <div class="row panel panel-info productinfo" *ngFor="let user of users">
            <div class="col-sm-2 rating-panel">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <a [routerLink]="['/users/', user.email]">{{user.email}}</a>
                        </h4>
                    </div>
                    <div class="starpanel panel-body">
                        <i class="glyphicon glyphicon-star" id="rating-star"></i>
                        <p class="rating">Reviews: {{user.reviews.count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row panel panel-info productinfo" *ngFor="let expert of experts">
            <div class="col-sm-2 rating-panel">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <a [routerLink]="['/users/', expert.email]">{{expert.email}}</a>
                        </h4>
                    </div>
                    <div class="starpanel panel-body">
                        <i class="glyphicon glyphicon-star" id="rating-star"></i>
                        <p class="rating">Reviews: {{expert.reviews.count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>