<div class="row">
    <p class="lead">We're some liquor enthusiasts who got together, found out on our own that the professional judges were usually pretty right, and decided to launch something to help the rest of the world discover great spirits.Liquor Reviews is an application where
        every user logged and not logged can see a big collection of information for a lot of different type of alcoholic drinks. He can see reviews for given drink like whiskey, wine, beer or something else.</p>
    <img [src]="'../images/alcohol-bottles-and-glasses.jpg'" alt="No image!" width="300" height="300">
</div>