<h1>Information about all team members in this project</h1>
<div class="panel panel-info" *ngFor="let author of (authors | async | sort: 'username')">
    <div class="panel-heading">
        <h3 class="panel-title">Panel info for: {{author.fullname}}</h3>
    </div>
    <div class="panel-body">
        <a [href]="author.profile">
            <img class="img-circle" [src]="author.image" alt="no image" width="100px">
        </a>
        <h3>Username: {{author.username | capitalize}}</h3>
        <a [href]="author.profile" class="row">Link to the profile in the Telerik Academy System</a>
    </div>
</div>