<div class="container">
    <div class="row footer-upper-boundary text-center">
        <a [routerLink]="['']" class="col-lg-3 text-center">Home</a>
        <a [routerLink]="['products']" class="col-lg-3 text-center">Products</a>
        <a [routerLink]="['contact']" class="col-lg-3 text-center">Contact us</a>
        <a [routerLink]="['about']" class="col-lg-3 text-center">About</a>
    </div>
    <br>
    <div class="row footer-lower-boundary">
        <div class="col-xs-12 text-center">
            <a href="https://github.com/Team-Directive15">Telerik Academy 2016 Team Directive 15 &copy;</a>
        </div>
    </div>
</div>