<div class="container">
    <div *ngIf="products" class="row">
        <div class="col-sm-4 panel panel-default" *ngFor="let product of products">
            <div class="col-sm-7">
                <img class="img-product img-responsive" [src]="product.img" alt="{{product.name}}">
            </div>
            <div class="productinfosmall col-sm-5">
                <div>
                    <a [routerLink]="['/product/', product.id]">{{product.name}}</a>
                </div>
                <div>user rating: {{product.userrating}}</div>
                <div>expert rating: {{product.exprating}}</div>
                <div>country: {{product.country}}</div>
                <div>year: {{product.year}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="!products.length">
        No products yet
    </div>
</div>