<div class="container">
    <div class="row">
        <div class="navbar navbar-default container-fluid">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a *ngIf="user" class="btn btn-primary" [routerLink]="['/product/new']" hover>Add New Product</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <span class="navbar-brand" href="#">Sort By:</span>
                </li>
                <li>
                    <a href="#">Expert Rating</a>
                </li>
                <li>
                    <a href="#">User Rating</a>
                </li>
            </ul>
        </div>
    </div>
    <div *ngIf="products" class="row">
        <div class="col-sm-4 product-panel" *ngFor="let product of products">
            <div class="col-sm-7">
                <img class="img-product img-responsive" [src]="product.img" alt="{{product.name}}">
            </div>
            <div class="productinfosmall col-sm-5">
                <div>
                    <a [routerLink]="['/product/', product.id]">{{product.name}}</a>
                </div>
                <div>user rating: {{product.userrating}}</div>
                <div>expert rating: {{product.exprating}}</div>
                <div>country: {{product.country}}</div>
                <div>year: {{product.year}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="!products.length">
        No products yet
    </div>
</div>