.productinfo {
    padding: 20px;
}

.starpanel {
    padding: 6px;
    position: relative;
}

#rating-star {
    color: gold;
    font-size: 80px;
}

.rating {
    position: absolute;
    left: 39%;
    top: 37%;
    font-size: 20px;
    font-weight: 200;
    z-index: 3;
}

.rating-panel {
    text-align: center;
}

.panel {
    margin: 3px;
}

.review-heading {
    font-size: 20px;
    font-weight: 200;
    margin-right: 40%;
}

.review-text {
    margin-top: 5px;
    margin-left: 30px;
}